.P-home
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  height: 68%

  h1
    text-align: center
    color: #fff
    font-size: 60px

  .learn-more {
    text-align: center
    color: #fff
  }

  .focus {
    margin-top: 15px
    text-align: center
    color: #fff
  }

  .ipt-con
    margin: 20px auto 0
    text-align: center