.div-h2 {
  color: #555;
  margin-top: 2%
}

.div-img1 {
  margin-left: 20%
}

.img-text p {
  font-size: 20px
  line-height: 130%
  text-align: left
}

.div-p {
  margin-top: 5%
}

.div-title {
  margin-top 25%
}

.education-a {
  text-align: left
}